<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Log in!{% endblock %}</title>
    
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>

<body class="bg-primary">
{% block body %}
<div class="p-3 mb-2 bg-primary text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-xl-4">
                <a class="navbar-brand" href="{{ path('app_accueil') }}">

 

                <img src="{{ asset('img/LogoDebeugTonCodeFondBleuCourt.png') }}" alt="Logo DebugTonCode Bleu" class="d-block mx-auto img-fluid">
                </a>
            </div>
            <div class="col-2"></div>
            <div class="col-lg-5 col-xl-5 bg-light">
                <div class="mt-6"></div>
                <div class="mt-4"></div>
                <form method="post">
                    {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}

                    {% if app.user %}
                        <div class="mb-3">
                            Bonjour {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Déconnexion</a>
                        </div>
                    {% endif %}

                    <h1 class="h3 mb-3 font-weight-normal">Se connecter à son compte</h1>
                    <div class="mt-3"></div>

                    <label for="inputEmail">Email</label></br>
                    <div class="mt-3"></div>
                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
                    <div class="mt-3"></div>

                    <label for="inputPassword">Mot de passe</label>
                    <div class="mt-3"></div>
                    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                    <div class="mt-3"></div>
                    <button class="btn btn-lg btn-primary" type="submit">Connexion</button>
                </form>

                <div class="mt-3"></div>
                <a href="{{ path('app_forgot_password_request') }}" class="link-primary">Mot de passe oublié ?</a>
              
                <div class="mt-3"></div>
           <a href="{{ path('app_register') }}" class="btn btn-success btn-lg active text-light mt-3 mb-4" role="button" title="Lien 1">Créer un compte</a>

           
            </div>
        </div>
    </div>
</div>
  <div class="mt-6"></div>
{% endblock %}
</body>
</html>
