{% if is_granted('ROLE_ADMIN') %}
    <form method="post" action="{{ path('app_admin_admin_messagerie_delete', {'id': message.id}) }}" onsubmit="return confirm('Etes-vous sûr de vouloir supprimer le message?');">
        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ message.id) }}">
        <button class="btn">Supprimer le message</button>
    </form>
{% endif %}
