{% extends 'base.html.twig' %}

{% block title %}Modifier le mot de passe{% endblock %}

{% block body %}

{% form_theme form 'bootstrap_5_layout.html.twig' %}

<div class="row">
    <div class="mt-3"></div>
    <div class="col-1"></div>
    <div class="col-11">
        <h1 class="text-secondary mt-6">Modifier un message</h1>
    </div>
</div>

<div class="mt-3"></div>

<div class="container">
    <div class="row">
        <div class="col-8 text-end">
            <a class="btn btn-secondary text-light" onclick="goBack()">Retour</a>
        </div>
    </div>
</div>
<br>
<div class="mt-6"></div>
<div class="container">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-lg-4 col-xl-4 bg-primary text-center">
            <div class="mt-6"></div>
<br>
            <img src="{{ asset('img/messengerblancCourt.png') }}" alt="Modifier un message Debugtoncode" class="d-block mx-auto img-fluid">
            <div class="mt-6"></div>

            {{ form_start(form) }}
            <div class="mt-3"></div>
            {{ form_row(form) }}

            <button class="btn btn-light btn-lg text-secondary">Modifier</button>

            <div class="mt-3"></div>
            {{ form_end(form) }}

            <div class="mt-6"></div>
        </div>
    </div>
</div>
<div class="mt-6"></div>
<br>
<script>
    function goBack() {
        window.history.back();
    }
</script>

{% endblock %}
