




{% extends 'base.html.twig' %}

{% block title %}Administration Gits{% endblock %}

{% block body %}
    {% if is_granted('ROLE_ADMIN') %}
        <div class="row">
            <div class="mt-3"></div>
            <div class="col-1"></div>
            <div class="col-11">
                <h1 class="text-secondary mt-6">Table des Gits:</h1>
            </div>
        </div>

        <div class="mt-3"></div>

        <div class="container">
            <div class="row">
                <div class="col-8 text-end">
                   <a class="btn btn-secondary text-light" onclick="goBack()">Retour</a>
                    <a class="btn btn-primary mr-2 text-light"  href="{{ path('app_admin_admin_messagerie_new') }}">Ajouter Message</a>
                </div>
            </div>
        </div>

        <div class="mt-5"></div>




        <div class="table-responsive ml-2">
            <table class="table">
                <thead>
                    <tr>
                        <th class="d-md-none">Id</th>
                        <th class="d-md-none">Sujet</th>
                        <th class="d-none d-md-table-cell"<th>Id</th>
                       <th class="d-none d-md-table-cell"<th>Sujet</th>
                       <th class="d-none d-md-table-cell"<th>Message</th>
                      <th class="d-none d-md-table-cell"<th>Created_at</th>
                      <th class="d-none d-md-table-cell"<th>Is_read</th>
                       <th class="d-md-none"Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for message in messages %}
                        <tr>
                            <td class="d-md-none">{{ message.id }}</td>
                            <td class="d-md-none">{{ message.sujet }}</td>
                            <td class="d-none d-md-table-cell">{{ message.id }}</td>
                           <td class="d-none d-md-table-cell">{{ message.sujet }}</td>
                             <td class="d-none d-md-table-cell">{{ message.message }}</td>
                            <td class="d-none d-md-table-cell">{{ message.createdAt ? message.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                            <td class="d-none d-md-table-cell">{{ message.isRead ? 'Yes' : 'No' }}</td>
                            <td class="d-md-none">
                                <a href="{{ path('app_admin_admin_messagerie_show', {'id': message.id}) }}">Voir</a>
                                <a href="{{ path('app_admin_admin_messagerie_edit', {'id': message.id}) }}">Modifier</a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td class="d-none d-md-table-cell" colspan="8">pas de message trouvé</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="mt-6"></div>

        <script>
            function goBack() {
                window.history.back();
            }
        </script>
    {% else %}
        <p>Vous n'avez pas les autorisations nécessaires pour accéder à cette page.</p>
    {% endif %}
{% endblock %}
