{% extends 'base.html.twig' %}

{% block title %}New Messages{% endblock %}

{% block body %}
    {% if is_granted('ROLE_ADMIN') %}
        <div class="row">
            <div class="mt-3"></div>
            <div class="col-1"></div>
            <div class="col-11">
                <h1 class="text-secondary mt-6">Déposer un Message :</h1>
            </div>
        </div>

        <div class="mt-3"></div>

        <div class="container">
            <div class="row">
                <div class="col-8 text-end">
                    <a class="btn btn-secondary text-light" onclick="goBack()">Retour</a>  
                </div>
            </div>
        </div>
        <br>
        <div class="mt-6"></div>
        <div class="container">
            <div class="row">
                <div class="col-4"></div>
                <div class="col-lg-4 col-xl-4 bg-primary text-center">
                    <br>
                    <img src="{{ asset('img/messengerblancCourt.png') }}" alt="Déposer un Message" class="d-block mx-auto img-fluid">
                    <br>
                    <div class="mt-6"></div>

                    {{ include('admin_admin_messagerie/_form.html.twig') }}
<br>
                    <div class="mt-6"></div>
                </div>
            </div>
        </div>
        <div class="mt-6"></div>
        <br>
        <script>
            function goBack() {
                window.history.back();
            }
        </script>
    {% else %}
        <p>Vous n'avez pas les permissions nécessaires pour accéder à cette page.</p>
    {% endif %}
{% endblock %}
