{% extends 'base.html.twig' %}

{% block title %}Messages{% endblock %}

{% block body %}
    {% if is_granted('ROLE_ADMIN') %}
        <div class="container">
            <div class="row">
                <div class="col-lg-1 col-md-1 col-1"></div>
                <div class="col-lg-10 col-md-10 col-10">
                    <h1 class="text-secondary mt-6">Message</h1>
                    <div class="container">
                        <div class="row">
                            <div class="col-8 text-end">
                                <a href="{{ path('app_admin_admin_messagerie_index') }}" class="btn btn-secondary mb-3">Retour</a>
                            </div>
                        </div>
                    </div>

                    <div class="container ml-3">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <th>Id</th>
                                    <td>{{ message.id }}</td>
                                </tr>
                                <tr>
                                    <th>Sujet</th>
                                    <td>{{ message.sujet }}</td>
                                </tr>
                                <tr>
                                    <th>Message</th>
                                    <td>{{ message.message }}</td>
                                </tr>
                                <tr>
                                    <th>Created_at</th>
                                    <td>{{ message.createdAt ? message.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                                </tr>
                                <tr>
                                    <th>Is_read</th>
                                    <td>{{ message.isRead ? 'Yes' : 'No' }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <a href="{{ path('app_admin_admin_messagerie_edit', {'id': message.id}) }}" class="btn btn-primary">Modifier</a>

                    {{ include('admin_admin_messagerie/_delete_form.html.twig') }}
                </div>
                <div class="col-lg-1 col-md-1 col-1"></div>
            </div>
        </div>
    {% else %}
        <p>Seul l'utilisateur avec le rôle d'administrateur peut accéder à cette page.</p>
    {% endif %}
{% endblock %}
