<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{% block title %}Inscription{% endblock %}</title>

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>

<body class="bg-primary">
{% block body %}

{% for flash_error in app.flashes('verify_email_error') %}
    <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
{% endfor %}

<div class="p-3 mb-2 bg-primary text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-xl-4">
                <a class="navbar-brand" href="{{ path('app_accueil') }}">

          


                         <img src="{{ asset('img/LogoDebeugTonCodeFondBleuCourt.png') }}" alt="Logo DebugTonCode Bleu" class="d-block mx-auto img-fluid">
                </a>
            </div>
            <div class="col-2"></div>
            <div class="col-lg-5 col-xl-5 bg-light">
                <div class="mt-6"></div>
                <div class="mt-4"></div>
                <h1 class="text-center text-secondary mt-6">S'inscrire</h1>
                <div class="mt-4"></div>

                {{ form_start(registrationForm) }}
                {{ form_row(registrationForm.pseudo, {
                    label: ' ',
                    attr: { placeholder: 'Pseudo' }
                }) }}
                <div class="mt-3"></div>
                {{ form_row(registrationForm.email, {
                    label: ' ',
                    attr: { placeholder: 'Email' }
                }) }}
                <div class="mt-3"></div>
                {{ form_row(registrationForm.plainPassword, {
                    label: ' ',
                    attr: { placeholder: 'Mot de passe' }
                }) }}
                <div class="mt-3"></div>
                {{ form_row(registrationForm.agreeTerms, {
                    label: 'Accepter les conditions',
                }) }}

                <div class="mt-3"></div>
                <button type="submit" class="btn btn-success btn-lg active text-light">Valider</button>
                <div class="mt-3"></div>
                <a href="{{ path('app_forgot_password_request') }}" class="link-primary">Mot de passe oublié ?</a>
                <div class="mt-3"></div>
                <a href="{{ path('app_login') }}" class="btn btn-primary btn-lg active text-light mt-3" role="button" title="Lien 1">Déjà un compte</a>
                <div class="mt-3"></div>

                {{ form_end(registrationForm) }}
            
            </div>
            <div class="col-1"></div>
        </div>
    </div>
</div>

{% endblock %}

</body>
</html>
