{% if is_granted('ROLE_ADMIN') %}
    <form method="post" action="{{ path('app_admi_admin_git_delete', {'id': git.id}) }}" onsubmit="return confirm('Etes-vous sûr de vouloir supprimer le Git?');">
        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ git.id) }}">
        <button class="btn">Supprimer le Git</button>
    </form>
{% endif %}
