{% extends 'base.html.twig' %}

{% block title %}Edit Git{% endblock %}

{% block body %}
    {% if is_granted('ROLE_ADMIN') %}
        <div class="row">
            <div class="mt-3"></div>
            <div class="col-1"></div>
            <div class="col-11">
                <h1 class="text-secondary mt-6">Modifier un Git :</h1>
            </div>
        </div>

        <div class="mt-3"></div>

        <div class="container">
            <div class="row">
                <div class="col-8 text-end">
                    <a class="btn btn-secondary text-light" onclick="goBack()">Retour</a>
                </div>
            </div>
        </div>
<br>
        <div class="mt-6"></div>
        <div class="container">
            <div class="row">
                <div class="col-4"></div>
                <div class="col-lg-4 col-xl-4 bg-primary text-center"><br>
                     <img src="{{ asset('img/GitCourt.png') }}"alt="Modifier un Git" class="d-block mx-auto img-fluid"> 
                    <div class="mt-6"></div>

                    {{ form_start(form) }}
                    <div class="mt-3"></div>
                    {{ form_row(form) }}

                    <button class="btn btn-light btn-lg text-secondary">Modifier</button>

                    <div class="mt-3"></div>
                    {{ form_end(form) }}

                    <div class="mt-6"></div>
                </div>
            </div>
        </div>
        <div class="mt-6"></div>

        <script>
            function goBack() {
                window.history.back();
            }
        </script>

        {{ include('admi_admin_git/_delete_form.html.twig') }}
    {% else %}
        <p>Vous n'avez pas les permissions nécessaires pour accéder à cette page.</p>
    {% endif %}
{% endblock %}
