{% extends 'base.html.twig' %}

{% block title %}Administration Gits{% endblock %}

{% block body %}
    {% if is_granted('ROLE_ADMIN') %}
        <div class="row">
            <div class="mt-3"></div>
            <div class="col-1"></div>
            <div class="col-11">
                <h1 class="text-secondary mt-6">Table des Gits:</h1>
            </div>
        </div>

        <div class="mt-3"></div>

        <div class="container">
            <div class="row">
                <div class="col-8 text-end">
                    <a class="btn btn-secondary text-light" onclick="goBack()">Retour</a>
                    <a class="btn btn-primary mr-2 text-light" href="{{ path('app_admi_admin_git_new') }}">Ajouter un Git</a>
                </div>
            </div>
        </div>

        <div class="mt-5"></div>

        <div class="table-responsive ml-2">
            <table class="table">
                <thead>
                    <tr>
                        <th class="d-md-none">Id</th>
                        <th class="d-md-none">Lien</th>
                        <th class="d-none d-md-table-cell">Id</th>
                        <th class="d-none d-md-table-cell">Lien</th>
                        <th class="d-none d-md-table-cell">Message</th>
                        <th class="d-none d-md-table-cell">Email</th>
                        <th class="d-md-none">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for git in gits %}
                        <tr>
                            <td class="d-md-none">{{ git.id }}</td>
                            <td class="d-md-none">{{ git.Lien }}</td>
                            <td class="d-none d-md-table-cell">{{ git.id }}</td>
                            <td class="d-none d-md-table-cell">{{ git.Lien }}</td>
                            <td class="d-none d-md-table-cell">{{ git.Message }}</td>
                            <td class="d-none d-md-table-cell">{{ git.email }}</td>
                            <td class="d-md-none">
                                <a href="{{ path('app_admi_admin_git_show', {'id': git.id}) }}">voir</a>
                                <a href="{{ path('app_admi_admin_git_edit', {'id': git.id}) }}">Modifier</a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td class="d-none d-md-table-cell" colspan="7">pas d'enregistrement trouvé</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="mt-6"></div>

        <script>
            function goBack() {
                window.history.back();
            }
        </script>
    {% else %}
        <p>Vous n'avez pas les permissions nécessaires pour accéder à cette page.</p>
    {% endif %}
{% endblock %}
