{% extends 'base.html.twig' %}

{% block title %}Git{% endblock %}

{% block body %}
    {% if is_granted('ROLE_ADMIN') %}
        <div class="container">
            <div class="row">
                <div class="col-lg-1 col-md-1 col-1"></div>
                <div class="col-lg-10 col-md-10 col-10">
                    <h1 class="text-secondary mt-6">Git</h1>
                    <div class="container">
                        <div class="row">
                            <div class="col-8 text-end">
                                <a href="{{ path('app_admi_admin_git_index') }}" class="btn btn-secondary mb-3">Retour</a>
                            </div>
                        </div>
                    </div>

                    <div class="container ml-3">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <th>Id</th>
                                    <td>{{ git.id }}</td>
                                </tr>
                                <tr>
                                    <th>Lien</th>
                                    <td>{{ git.Lien }}</td>
                                </tr>
                                <tr>
                                    <th>Message</th>
                                    <td>{{ git.Message }}</td>
                                </tr>
                                <tr>
                                    <th>Email</th>
                                    <td>{{ git.email }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <a href="{{ path('app_admi_admin_git_edit', {'id': git.id}) }}" class="btn btn-primary">Modifier</a>

                    {{ include('admi_admin_git/_delete_form.html.twig') }}
                </div>
                <div class="col-lg-1 col-md-1 col-1"></div>
            </div>
        </div>
    {% else %}
        <p>Vous n'avez pas les permissions nécessaires pour accéder à cette page.</p>
    {% endif %}
{% endblock %}
