{% extends 'base.html.twig' %}

{% block title %}Lien pour modifier son mot de passe{% endblock %}

{% block body %}

<div class="wrapper">
  <div class="content">
    <div class="container">
      <div class="row">
        <div class="col-1"></div>
        <div class="col-11">
          <h1 class="text-secondary mt-6">Consultes ta messagerie</h1>
          <a href="{{ path('app_accueil') }}" class="btn btn-primary col-1">Accueil</a>
          <div class="mt-6"></div>
          <!-- Autres contenus ici -->
        </div>
      </div>
    </div>
  </div>
</div>

<footer class="footer mt-auto py-3">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <p class="lead text-secondary">Si un compte existe avec ton adresse email, tu trouveras un lien pour modifier ton mot de passe. Ce lien expire dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.</p>
        <p class="lead text-secondary">Si tu n'as pas reçu d'email, vérifie dans les spams ou demande un <a href="{{ path('app_forgot_password_request') }}">nouveau mot de passe</a>.</p>
      </div>
    </div>
  </div>
</footer>

{% endblock %}
