{% extends 'base.html.twig' %}

{% block title %}Modifier son mot de passe{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
    <div class="row">
        <div class="col-1"></div>
        <div class="col-11">
            <h1 class="text-secondary mt-6">Mot de passe oublié</h1>
        </div>
    </div>
    <div class="mt-6"></div>
    <div class="row">
        <div class="col-4"></div>
        <div class="col-lg-4 col-xl-4 mb-6"> <!-- Ajout de la marge inférieure -->
            <div class="bg-primary text-center">
                <div class="mt-6"></div>

    

                <img src="{{ asset('img/reset-passwordblancCourt.png') }}" alt="Modifier mon mot de passe Debugtoncode" class="d-block mx-auto img-fluid">
                <div class="mt-6"></div>
                <p class="text-light">Veuillez saisir votre adresse email</p>
                <div class="mt-6"></div>
                {{ form_start(requestForm) }}
                    {{ form_row(requestForm.email, {'attr': {'placeholder': 'Email'}}) }}
                    <div class="mt-6"></div>
                    <button class="btn btn-light btn-lg text-secondary mt-6 ">Envoyer</button> <!-- Ajout de la marge supérieure -->
                {{ form_end(requestForm) }}
                <div class="mt-6"></div>
            </div>
        </div>
        <div class="col-4"></div>
    </div>
    <div class="mt-6"></div> <!-- Ajout de la marge inférieure -->
    <div class="row">
        <div class="col-12 text-center">
            <p></p>
        </div>
    </div>
{% endblock %}
