{% extends 'base.html.twig' %}

{% block title %}Modifier son mot de passe{% endblock %}

{% block body %}
  <div class="row">
    <div class="col-1"></div>
    <div class="col-11">
      <h1 class="text-secondary mt-6">Modifier mon mot de passe</h1>
      <div class="mt-6"></div>
      <p class="lead text-secondary">Envie de modifier ton mot de passe !</p>
    </div>
  </div>
  <div class="mt-6"></div>
  <div class="row">
    <div class="col-4"></div>
    <div class="col-lg-4 col-xl-4 bg-primary text-center">
      <div class="mt-6"></div>


  

     <img src="{{ asset('img/reset-passwordblancCourt.png') }}" alt="Modifier mon mot de passe Debugtoncode" class="d-block mx-auto img-fluid">
      <div class="mt-6"></div>
      {{ form_start(form) }}
      <div class="mt-6"></div><br>
   {{ form_row(form.plainPassword.first, { 'label': 'Nouveau mot de passe', 'attr': {'value': 'Votre texte ici'} }) }}
<div class="mt-6"></div><br>
{{ form_row(form.plainPassword.second, { 'label': 'Confirmez le nouveau mot de passe', 'attr': {'value': 'Votre texte ici'} }) }}<br>


      <div class="mt-6"></div>
      <button class="btn btn-light btn-lg text-center text-secondary">Modifier</button>
      {{ form_end(form) }}<br>
    </div>
    <div class="col-4"></div>
  </div>
  <div class="mt-6"></div>
 
{% endblock %}


