@media (max-width: 768px) {
    .img-mobile-large {
      width: 30px; /* Ajustez la largeur comme nécessaire */
      height: 30px; /* Ajustez la hauteur comme nécessaire */
    }
  }
  

  /* styles.css */
.custom-navbar {
    margin-top: 10px; 
}

.img-mobile-small {
    max-width: 40px; 
    height: auto;
  }
 
#searchBar{
    margin-bottom: 20px;
}
  
/* styles.css */
.mobile-margin {
    
   
    margin-left: 10px;
        margin-right: 10px;
    }
    
    