{% extends 'base.html.twig' %}

{% block title %}Presentation{% endblock %}


{% block body %}

<div class="mt-6">



    <img src="{{ asset('img/debugTonCodeHeureux.jpg') }}" class="img-fluid" alt="debugTonCodeEquipe">
</div>


<div class="mt-6"></div>
<br>
  <h1 class="text-center text-secondary mt-6">DebugTonCode</h1>
<div class="mt-5">
<p class="lead text-secondary text-center">On souhaite le meilleur à tous les développeurs.</p>



<div class="mt-6">



{% endblock %}
