{# Étend le template de base appelé 'base.html.twig' #}
{% extends 'base.html.twig' %}

{# Définit le contenu de la balise <title> de la page #}
{% block title %}Modifier le mot de passe{% endblock %}

{# Début du bloc principal du corps de la page #}
{% block body %}
    {% if is_granted('ROLE_USER') %}
        <div class="row">
            <div class="mt-3"></div>
            <div class="col-1"></div>
            <div class="col-11">
                <h1 class="text-secondary mt-6">Modifier mon mot de passe</h1> {# Titre de la page #}
            </div>
        </div>

        <div class="mt-6"></div>

        <div class="col-11">
            <p class="lead text-secondary">Envie de modifier ton mot de passe !</p> {# Description #}
        </div>

        <div class="mt-6"></div>

        <div class="container">
            <div class="row">
                <div class="col-4"></div>
                <div class="col-lg-4 col-xl-4 bg-primary text-center">
                    <div class="mt-6"></div>
                    <br>
                    <img src="{{ asset('img/reset-passwordblancCourt.png') }}" class="img-fluid" alt="DebugTonCode modifier son mot de passe">
                    <div class="mt-6"></div>
                    <br>
                    {{ form_start(form) }} {# Début du formulaire #}
                    <div class="mb-3">
                        {{ form_label(form.plainPassword.first) }} {# Étiquette du premier champ #}
                        {{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control'}}) }} {# Champ du premier mot de passe #}
                        {{ form_errors(form.plainPassword.first) }} {# Affichage des erreurs du premier champ #}
                    </div>
                    <div class="mb-3">
                        {{ form_label(form.plainPassword.second) }} {# Étiquette du second champ #}
                        {{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control'}}) }} {# Champ du second mot de passe #}
                    </div>

                    <button class="btn btn-light btn-lg text-secondary">Modifier</button> {# Bouton pour soumettre le formulaire #}

                    {{ form_end(form) }} {# Fin du formulaire #}
                    <br>
                    <div class="mt-6"></div>
                </div>
            </div>
        </div>

        <div class="mt-6"></div>
    {% else %}
       <div class="text-center">
       <p class="text-secondary">Vous devez vous authentifier pour accéder à cette page.</p>
   </div>
    {% endif %}
{# Fin du bloc principal du corps de la page #}
{% endblock %}
