{% extends 'base.html.twig' %}

{% block title %}Rechercher{% endblock %}

{% block body %}
    {% if is_granted('ROLE_USER') %}
        <div class="mt-6">
            <h1 class="text-center text-secondary mt-5">Résultat de la recherche</h1>
            {% if users is empty %}
                <p>Aucun utilisateur trouvé.</p>
            {% else %}
                <div class="mt-6">
                    <div class="row justify-content-center">
                        {% for user in users %}
                            <div class="col-sm-3 mb-4 "> <!-- Ajoutez la classe "mb-4" pour une marge inférieure de 4 unités -->
                                {% if 'ROLE_ADMIN' in user.roles %}
                                    <div class="card bg-white border-primary mx-2">
                                        <div class="card-body ml-3 mr-3 text-center">
                                            <div class="mt-3"></div>
                                            <ul style="list-style-type: none;">
                                                <li>{{ user.pseudo }}</li>
                                                <li class="admin-role">Admin</li>
                                                <!-- Ajoutez d'autres détails de l'utilisateur au besoin -->
                                            </ul>
                                            <a href="{{ path('formulaire', {'userId': user.id}) }}"><img src="img/messageDebugTonCodemini.png" alt="Messagerie" /></a> <!-- Remplacez "/chemin/vers/icone_messagerie.png" par le chemin réel de votre image de messagerie -->
                                        </div>
                                    </div>
                                {% else %}
                                    <div class="card bg-white border-secondary mx-2">
                                        <div class="card-body ml-3 mr-3 text-center">
                                            <div class="mt-3"></div>
                                            <ul style="list-style-type: none;">
                                                <li>{{ user.pseudo }}</li>
                                                <li class="adherent-role">Adhérent</li>
                                                <!-- Ajoutez d'autres détails de l'utilisateur au besoin -->
                                            </ul>
                                            <a href="{{ path('formulaire', {'userId': user.id}) }}"><img src="img/messageDebugTonCodemini.png" alt="Messagerie" /></a> <!-- Remplacez "/chemin/vers/icone_messagerie.png" par le chemin réel de votre image de messagerie -->
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        </div>
        <script src="{{ asset('js/rechercher.js') }}"></script>
    {% else %}
      <div class="text-center">
       <p class="text-secondary">Vous devez vous authentifier pour accéder à cette page.</p>
   </div>
    {% endif %}
{% endblock %}
