{% extends 'base.html.twig' %}

{% block title %}Administration Utilisateurs{% endblock %}

{% block body %}

  <div class="row">
            <div class="mt-3"></div>
            <div class="col-1"></div>
            <div class="col-11">
                <h1 class="text-secondary mt-6">Table des utilisateurs:</h1>
            </div>
        </div>

        <div class="mt-3"></div>


 <div class="container">
            <div class="row">
                <div class="col-8 text-end">
                    <a class="btn btn-secondary text-light" onclick="goBack()">Retour</a>
                     <a class="btn btn-primary mr-2 text-light" href="{{ path('app_admin_admin_user_new') }}">Ajouter un utilisateur</a>
                </div>
            </div>
        </div>
  <div class="mt-5"></div>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Roles</th>
          
                <th>Pseudo</th>
                <th>IsVerified</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
              
                <td>{{ user.pseudo }}</td>
                <td>{{ user.isVerified ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('app_admin_admin_user_show', {'id': user.id}) }}">Voir</a>
                    <a href="{{ path('app_admin_admin_user_edit', {'id': user.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="mt-6"></div>
  <script>
            function goBack() {
                window.history.back();
            }

              function redirectToEditPage() {
        window.location.href = "/template/admin_user/edit.html.twig";
    }

    document.getElementById("admin_user_edith").addEventListener("click", redirectToEditPage);

        </script>
{% endblock %}
