{% extends 'base.html.twig' %}

{# Définit le contenu de la balise <title> de la page #}
{% block title %}Git{% endblock %}

{# Début du bloc principal du corps de la page #}
{% block body %}

    {% if is_granted('ROLE_USER') %}
        {# Applique le thème de formulaire Bootstrap 5 au formulaire 'form' #}
        {% form_theme form 'bootstrap_5_layout.html.twig' %}

        <div class="row">
            <div class="col-lg-1 col-md-1 col-1"></div>
            <div class="col-lg-10 col-md-10 col-10">
                <h1 class="text-secondary mt-3">Déposer son lien git :</h1>
                <div class="mt-6></div>
                <p class="lead text-secondary ml-3">Tu n’es plus qu’à un clic de la délivrance !</p>
            </div>
            <div class="col-lg-1 col-md-1 col-1"></div>
        </div>

        <div class="mt-3"></div>

        <div class="container">
            <div class="row">
                <div class="col-1 col-sm-3 mb-4 ml-sm-3"></div> <!-- Colonne vide -->
                <div class="col-10 col-sm-6 mb-4">
                    <div class="col-12 bg-primary text-center my-4">
                        {# Ajout de my-4 pour une marge supplémentaire #}
                        <div class="row">
                            <div class="col-1"></div>
                            <div class="col-10">
                                <div class="mt-3"></div>
                              
                                {# Insère une image avec une source basée sur l'URL de l'image #}
                                <img src="{{ asset('img/GIT.png') }}" alt="Dépôt GIT Debugtoncode"
                                     class="d-block mx-auto ">
                                <div class="mt-3"></div>
                                {# Début du rendu du formulaire #}
                                {{ form_start(form) }}
                                <div class="mt-3"></div>
                                {# Rendu des champs du formulaire #}
                                {{ form_row(form) }}
                                <button class="btn btn-light btn-lg text-secondary">Envoyer</button>
                                <div class="mt-3"></div>
                                {# Fin du rendu du formulaire #}
                                {{ form_end(form) }}
                            </div>
                            <div class="col-1"></div>
                        </div>
                    </div>
                </div>
                <div class="col-1 col-sm-3 mb-4 mr-sm-3"></div> <!-- Colonne vide -->
            </div>
        </div>

        <div class="mt-6"></div>

        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-10">
                <p class="lead text-secondary text-center">Après ton dépôt, notre équipe de professionnels va se pencher sur ton code.</p>
                <p class="lead text-secondary text-center">Nous te répondrons dans les cinq jours.</p>
            </div>
            <div class="col-lg-1"></div>
        </div>

        <div class="mt-6"></div>

    {% else %}
      <div class="text-center">
       <p class="text-secondary">Vous devez vous authentifier pour accéder à cette page.</p>
   </div>
    {% endif %}

{% endblock %}
