{# Étend le template de base appelé 'base.html.twig' #}
{% extends 'base.html.twig' %}

{# Définit le contenu de la balise <title> de la page #}
{% block title %}Succes{% endblock %}

{# Début du bloc principal du corps de la page #}
{% block body %}

    {% if is_granted('ROLE_USER') %}
        <div class="row">
            <div class="mt-3"></div>
            <div class="col-1"></div>
            <div class="col-11">
                {# Affiche un titre de succès #}
                <h1 class="text-secondary mt-6">Nous avons bien reçu ton lien Git.</h1>
                <div class="mt-6"></div>
                <div class="col-11">
                    {# Affiche un message de confirmation avec redirection #}
                    <p class="lead text-secondary">tu seras redirigé dans 5 secondes.</p>
                </div>
            </div>
        </div>

        <div class="mt-5"></div>

        <div class="mt-6"></div>
        <div class="container">
            <div class="row">
                <div class="col-4"></div>
                <div class="col-lg-4 col-xl-4 bg-primary text-center">
                    <div class="mt-6"></div>
                    {# Affiche une image avec un message de confirmation stylisé #}
                    <img src="{{ asset('img/handblanc.png') }}" alt="Relax on gère" class="d-block mx-auto img-fluid">
                    <div class="mt-3"></div>
                    <p class="lead text-center text-light">Relax, on gère !</p>
                    <div class="mt-6"></div>
                    <div class="mt-6"></div>
                </div>
            </div>
        </div>

        <div class="mt-6"></div>
        <p class="lead text-center text-secondary">On s'engage à répondre dans les 5 jours maximum selon la difficulté rencontrée.</p>

        <div class="mt-6"></div>

        <div class="mt-6"></div>

        <script>
            // Redirection vers l'URL de la route 'app_git' après 5 secondes (5000 millisecondes)
            setTimeout(function() {
                window.location.href = "{{ path('app_git') }}";
            }, 5000);
        </script>
    {% else %}
     <div class="text-center">
       <p class="text-secondary">Vous devez vous authentifier pour accéder à cette page.</p>
   </div>
    {% endif %}

{% endblock %}
