{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <h1 class="text-center text-secondary mt-6 mx-2">Ici on corrige ton code !</h1>
    <div class="mt-1">
        <img src="{{ asset('img/debugTonCodeReussitecr.jpg') }}" class="img-fluid" alt="debugTonCodeReussite">
    </div>
    <div class="mt-2">
        <h1 class="text-center text-secondary mt-5 mx-2">On a tous vécu cela !</h1>
        <div class="mt-5">
            <p class="lead text-secondary text-center mx-2">Notre code renvoie une erreur. On est bloqué parfois plusieurs jours !</p>
        </div>
    </div>

    <div class="mt-6">
        <h1 class="text-center text-secondary mt-5 mx-2">Nous avons la solution !</h1>
        <br> <br>
        <div class="mt-6">
            <div class="row justify-content-center">
                <div class="col-sm-3 mb-4">
                    <div class="card bg-primary mx-2">
                        <div class="card-body ml-3 mr-3 text-center">
                            <div class="mt-3"></div>
                            <h5 class="card-title text-light">Etape 1 <br> Connectes Toi</h5>
                            <div class="mt-3"></div>
                            <img src="{{ asset('img/loginblanc.png') }}"  alt="Connexion DebugTonCode">
                            <div class="mt-3"></div>
                            <div class="text-secondary">
                                <a href="{{ path('app_register') }}" class="btn btn-light rounded-pill">Me connecter</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 mb-4">
                    <div class="card bg-primary mx-2">
                        <div class="card-body ml-3 mr-3 text-center">
                            <div class="mt-3"></div>
                            <h5 class="card-title text-light">Etape 2 <br> Déposes ton lien git </h5>
                            <div class="mt-3"></div>
                            <img src="{{ asset('img/GIT.png') }}"  alt="GIT DebugTonCode">
                            <div class="mt-3"></div>
                            <div class="text-secondary">
                                <a href="#" class="btn btn-light rounded-pill" data-toggle="modal" data-target="#Etape2modal">En savoir plus</a>
                                <div class="modal fade" id="Etape2modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Déposes ton lien Git</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <p>Après ton inscription, tu pourras déposer ton lien Git. Notre équipe pourra regarder tes fichiers afin de trouver ce qui bloque.</p>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 mb-4">
                    <div class="card bg-primary mx-2">
                        <div class="card-body ml-3 mr-3 text-center">
                            <div class="mt-3"></div>
                            <h5 class="card-title text-light">Etape 3 <br> Relax on gère !</h5>
                            <div class="mt-3"></div>
                            <img src="{{ asset('img/handblanc.png') }}"  alt="Relax DebugTonCode">
                            <div class="mt-3"></div>
                            <a href="#" class="btn btn-light rounded-pill" data-toggle="modal" data-target="#Etape3modal">En savoir plus</a>
                            <div class="modal fade" id="Etape3modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Relax on gère</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <p>Après ton inscription, tu pourras déposer ton lien Git. Notre équipe pourra regarder tes fichiers afin de trouver ce qui bloque.</p>
                                            <p>Tu auras également accès à une messagerie pour contacter les membres du site.</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="mt-6">
        <h1 class="text-center mt-5">Notre équipe de professionnels</h1>
        <div class="mt-5">
            <p class="lead text-center">Te propose de regarder et corriger ton code.</p>
        </div>
    </div>

    <div class="mt-6">
        <h1 class="text-center mt-6 mx-2">Les langages maîtrisés</h1>
        <div class="mt-5">
            <p class="lead text-center">JavaScript</p>
            <p class="lead text-center">PHP</p>
        </div>
    </div>

    <div class="mt-6">
        <h1 class="text-center mt-6">Les frameworks maîtrisés</h1>
        <div class="mt-5">
            <p class="lead text-center">WordPress</p>
            <p class="lead text-center">Symfony</p>
            <p class="lead text-center">React</p>
        </div>
    </div>

    <div class="mt-6">
        <h1 class="text-center mt-6">Nos engagements</h1>
        <div class="mt-5">
            <p class="lead text-center mx-2">On s’engage à regarder ton code dans les 48 heures.</p>
            <p class="lead text-center mx-2">Répondre dans les 5 jours maximum selon la difficulté rencontrée.</p>
        </div>
    </div>

    <div class="mt-6">
        <h1 class="text-center mt-6">Le prix</h1>
        <div class="mt-5">
            <p class="lead text-center">C’est gratuit... pour l’instant !</p>
            <div class="mt-5"></div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.10.2/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock %}
