$primary: #5271FF;
$secondary: #403E49;
$success: #1dd74c;

$display-font-sizes: (
  1: 5rem,
  2: 4.5rem,
  3: 4rem,
  4: 3.5rem,
  5: 3rem,
  6: 2.5rem
) !default;

.img-fluid {
    padding-top: 100px!important;
}
#git1 label {
  display: block;
  text-align: left;
  margin-left: 80px;
}

