<form method="post" action="{{ path('app_admin_user_delete', {'id': user.id}) }}" onsubmit="return confirm('Nous regrettons de te voir partir, es-tu sûr(e) de ton choix ?');">
    {# Formulaire pour supprimer un utilisateur #}
    
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
    {# Champ caché contenant le jeton CSRF pour prévenir les attaques CSRF CSRF (Cross-Site Request Forgery) est une forme d'attaque en sécurité web dans laquelle un attaquant exploite la confiance d'un utilisateur authentifié pour exécuter des actions non autorisées sur un site web. Cela se produit généralement lorsque l'utilisateur est connecté à un site, puis qu'il visite un autre site malveillant qui exécute des requêtes HTTP sur le site authentifié sans que l'utilisateur en soit conscient.

Pour prévenir les attaques CSRF, un mécanisme appelé "jeton CSRF" (Cross-Site Request Forgery token) est utilisé. L'idée est de créer un jeton unique pour chaque session utilisateur et de l'inclure dans les formulaires. Lorsque le formulaire est soumis, le serveur vérifie que le jeton soumis correspond à celui attendu pour cette session.#}
    
    <button class="btn">Delete</button>
    {# Bouton "Delete" pour soumettre le formulaire de suppression #}
</form>
