{{ form_start(form) }}
    {% set renderedUserField = form_row(form.utilisateur) %}
    {{ renderedUserField }}
    {{ form_rest(form) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
