{# Étend le template de base appelé 'base.html.twig' #}
{% extends 'base.html.twig' %}

{# Définit le contenu de la balise <title> de la page #}
{% block title %}Modifier le mot de passe{% endblock %}

{# Début du bloc principal du corps de la page #}
{% block body %}

{# Applique le thème de formulaire Bootstrap 5 au formulaire 'form' #}
{% form_theme form 'bootstrap_5_layout.html.twig' %}

<div class="row">
    <div class="mt-3"></div>
    <div class="col-1"></div>
    <div class="col-11">
        <h1 class="text-secondary mt-6">Modifier son profil</h1> {# Titre de la page #}
    </div>
</div>

<div class="mt-3"></div>

<div class="container">
    <div class="row">
        <div class="col-8 text-end">
            <a class="btn btn-secondary text-light" onclick="goBack()">Retour</a> {# Bouton de retour #}
        </div>
    </div>
</div>

<div class="mt-6"></div>
<div class="container">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-lg-4 col-xl-4 bg-primary text-center">
            <div class="mt-3"></div>
<br>
            <img src="{{ asset('img/userblancCourt.png') }}"alt="Modifier son profil Debugtoncode" class="d-block mx-auto "> {# Image d'illustration #}
         

            {{ form_start(form) }} {# Début du formulaire #}
            <div class="mt-3"></div>
            {{ form_row(form) }} {# Affiche les champs du formulaire #}

            <button class="btn btn-light btn-lg text-secondary">Modifier</button> {# Bouton de soumission #}

            <div class="mt-3"></div>
            {{ form_end(form) }} {# Fin du formulaire #}

            <div class="mt-6"></div>
        </div>
    </div>
</div>

<br>
<script>
    function goBack() {
        window.history.back();
    }
</script>

{% endblock %} {# Fin du bloc principal du corps de la page #}

