{% extends 'base.html.twig' %}

{% block title %}Liste des utilisateurs{% endblock %}

{% block body %}
    <h1 class="text-center text-secondary mt-6">Liste des utilisateurs</h1>

   
    <div class="mt-6"></div>
{% endblock %}
