{% extends 'base.html.twig' %}

{% block title %}Compte utilisateur{% endblock %}

{% block body %}
    {% if is_granted('ROLE_USER') %}
        <h1 class="text-center text-secondary mt-6">Mon profil</h1> {# Titre de la page #}

        <div class="mt-5">
            <p class="lead text-secondary text-center mt-6">
                Bonjour {% if app.user %}
                {{ app.user.pseudo }}
                {% endif %} <br>
                Tu es sur la bonne page pour modifier tes informations personnelles.
            </p>
        </div>

        <div class="mt-6">
            <div class="row justify-content-center">
                <div class="col-sm-3 mb-4">
                    <div class="card bg-primary mx-2">
                        <div class="card-body ml-1 mr-1 text-center">
                            <div class="mt-1"></div>
                            <h5 class="card-title text-light">Modifier<br>mon Profil</h5> {# Titre de la carte #}
                            <div class="mt-1"></div>
                            <img src="{{ asset('img/userblancCourt.png') }}"  alt="DebugTonCode modifier son profil"> {# Image de la carte #}
                             <div class="mt-4"></div>
                            <div class="text-secondary">
                                <a href="{{ path('app_admin_user_profil') }}" class="btn btn-light rounded-pill">Modifier</a> {# Lien pour modifier le profil #}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 mb-4">
                    <div class="card bg-primary mx-2">
                        <div class="card-body ml-1 mr-1 text-center">
                            <div class="mt-1"></div>
                            <h5 class="card-title text-light">Modifier<br>mon Mot de passe</h5> {# Titre de la carte #}
                            <div class="mt-3"></div>
                            <img src="{{ asset('img/reset-passwordblancCourt.png') }}"  alt="DebugTonCode modifier son mot de passe"> {# Image de la carte #}
                              <div class="mt-4"></div>
                            <div class="text-secondary">
                                <a href="{{ path('app_admin_user_edit_password') }}" class="btn btn-light rounded-pill">Modifier</a> {# Lien pour modifier le mot de passe #}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 mb-4">
                    <div class="card bg-secondary mx-2">
                        <div class="card-body ml-1 mr-1 text-center">
                            <div class="mt-1"></div>
                            <h5 class="card-title text-light">Supprimer<br>mon Compte</h5> {# Titre de la carte #}
                            <div class="mt-1"></div>
                            <img src="{{ asset('img/block-userCourt.png') }}"  alt="DebugTonCode supprimer mon compte"> {# Image de la carte #}
                             <div class="mt-4"></div>
                            <div class="text-secondary">
                                <form method="post" action="{{ path('app_admin_user_delete', {'id': app.user.id}) }}" onsubmit="return confirm('Are you sure you want to delete your account?');">
                                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ app.user.id) }}">
                                    <button class="btn btn-light rounded-pill">Supprimer</button> {# Bouton pour soumettre le formulaire de suppression #}
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="mt-6"></div>
    {% else %}
     <div class="text-center">
       <p class="text-secondary">Vous devez vous authentifier pour accéder à cette page.</p>
   </div>
    {% endif %}
{% endblock %}
