{% extends 'base.html.twig' %}

{% block title %}Mon profil{% endblock %}

{% block body %}
    {% if is_granted('ROLE_USER') %}
        <div class="row">
            <div class="mt-3 col-1"></div>
            <div class="col-11">
                <h1 class="text-secondary mt-6">Mon profil :</h1>
            </div>
        </div>

        <div class="mt-3"></div>

        <div class="container">
            <div class="row">
                <div class="col-8 text-end">
                    <a class="btn btn-secondary text-light" onclick="goBack()">Retour</a>
                </div>
            </div>
        </div>

        <div class="mt-5"></div>

        <table class="table">
            <thead>
                <tr>
                    <th>Pseudo</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ app.user.pseudo }}</td>
                    <td>
                        <a class="btn btn-primary mr-2 text-light" href="{{ path('app_admin_user_show', {'id': app.user.id}) }}">Voir</a>
                        <a class="btn btn-primary mr-2 text-light" href="{{ path('app_admin_user_edit', {'id': app.user.id}) }}">Modifier</a>
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="mt-6"></div>

        <script>
            function goBack() {
                window.history.back();
            }
        </script>
    {% else %}
        <div class="row">
            <div class="mt-3 col-1"></div>
            <div class="col-11">
                <h1 class="text-secondary mt-6">Mon profil :</h1>
            </div>
        </div>

        <div class="mt-3"></div>

        <div class="container">
            <div class="row">
                <div class="col-8 text-end">
                    <a class="btn btn-secondary text-light" onclick="goBack()">Retour</a>
                </div>
            </div>
        </div>

        <div class="mt-5"></div>

     <div class="text-center">
       <p class="text-secondary">Vous devez vous authentifier pour accéder à cette page.</p>
   </div>

        <div class="mt-6"></div>

        <script>
            function goBack() {
                window.history.back();
            }
        </script>
    {% endif %}
{% endblock %}
