{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
    {% if is_granted('ROLE_USER') %}
        <div class="row">
            <div class="mt-3"></div>
            <div class="col-1"></div>
            <div class="col-11">
                <h1 class="text-secondary mt-6">Mon profil :</h1> {# Titre de la page #}
            </div>
        </div>

        <div class="mt-3"></div>

        <div class="container">
            <div class="row">
                <div class="col-8 text-end">
                    <a class="btn btn-secondary text-light" onclick="goBack()">Retour</a> {# Bouton de retour #}
                    <a class="btn btn-primary mr-2 text-light" href="{{ path('app_admin_user_edit', {'id': app.user.id}) }}">Modifier</a> {# Lien pour modifier le profil #}
                </div>
            </div>
        </div>

        <div class="mt-6"></div>

        <table class="table">
            <tbody>
                <tr>
                    <th>Email</th>
                    <td>{{ app.user.email }}</td> {# Affiche l'email de l'utilisateur actuel #}
                </tr>
                <tr>
                    <th>Pseudo</th>
                    <td>{{ app.user.pseudo }}</td> {# Affiche le pseudo de l'utilisateur actuel #}
                </tr>
            </tbody>
        </table>

        <div class="mt-6"></div>

        <script>
            function goBack() {
                window.history.back();
            }

            function redirectToEditPage() {
                window.location.href = "/template/admin_user/edit.html.twig";
            }

            // Ajoute un écouteur d'événement pour rediriger vers la page d'édition du profil
            document.getElementById("admin_user_edith").addEventListener("click", redirectToEditPage);
        </script>
    {% else %}
      <div class="text-center">
       <p class="text-secondary">Vous devez vous authentifier pour accéder à cette page.</p>
   </div>
    {% endif %}
{% endblock %}
