{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}

{% form_theme form 'bootstrap_5_layout.html.twig' %}

<div class="row">
    <div class="mt-3"></div>
    <div class="col-1"></div>
    <div class="col-11">
        <h1 class="text-secondary mt-6">Formulaire de contact</h1>
    </div>
</div>

<div class="mt-6"></div>
<div class="container">
    <div class="row testClaire">
        <div class="col-4"></div>
        <div class="col-lg-4 col-xl-4 bg-primary text-center">
            <div class="mt-6"></div>



            <img src="{{ asset('img/contactblanc.png') }}"
 alt="Formulaire de contact Debugtoncode" class="d-block mx-auto ">
           

            {{ form_start(form) }}
            <div class="mt-3"></div>
            {{ form_row(form) }}

            <button class="btn btn-light btn-lg text-secondary">Envoyer</button>

            <div class="mt-3"></div>
            {{ form_end(form) }}

            <div id="message-confirmation"></div> {# Élément pour afficher le message de confirmation #}
        </div>
    </div>
</div>

<div class="mt-3"></div> {# Ajout d'une marge top de 3 unités pour séparer le formulaire et le footer #}

{% endblock %}
