{% extends 'base.html.twig' %}

{% block title %}Succès{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/success.css') }}">
{% endblock %}

{% block body %}
    <div class="success-page">
        <nav class="navbar">
            <!-- Contenu de la nav bar -->
        </nav>
        <div class="content">
            <!-- Votre contenu de page ici -->
            <div class="text-center">
                <h1>Nous avons bien reçu ta demande.</h1>
                <p>Elle sera traitée dans les meilleurs délais.</p>
            </div>
        </div>
        <footer class="footer">
            <!-- Contenu du footer -->
        </footer>
    </div>
    <script>
        setTimeout(function() {
            window.location.href = "{{ path('app_accueil') }}";
        }, 5000); // 5 secondes
    </script>
{% endblock %}
