{% extends 'base.html.twig' %}

{% block title %}DebugTonCode Plan du site{% endblock %}

{% block body %}
    <div class="container mt-6">
        <div class="row">
            <div class="col-md-2"></div> <!-- Colonne vide -->

            <div class="col-md-8">
                <h1 class="text-center text-secondary mt-6">Plan du site</h1>
                <div class="mt-4"></div>

                <div class="link-primary">
                    <a href="{{ path('app_accueil') }}">Accueil</a> <br>
                    <div class="mt-4"></div>
                    <a href="{{ path('app_register') }}">Inscription</a><br>
                    <div class="mt-4"></div>
                    <a href="{{ path('app_login') }}">Connection</a><br>
                    <div class="mt-4"></div>
                    <a href="#">En savoir plus</a><br>
                    <div class="mt-4"></div>
                    <a href="#">GIT</a><br>
                    <div class="mt-4"></div>
                    <a href="#">Messagerie</a><br>
                    <div class="mt-4"></div>
                    <a href="#">Paramètre du compte</a><br>
                    <div class="mt-4"></div>
                    <a href="{{ path('app_logout') }}">Déconnexion</a><br>
                    <div class="mt-4"></div>
                    <a href="#">DebugTonCode</a><br>
                    <div class="mt-4"></div>
                    <a href="#">Numéro d’immatriculation</a><br>
                    <div class="mt-4"></div>
                    <a href="#">Qui sommes nous</a><br>
                    <div class="mt-4"></div>
                    <a href="#">Contact</a><br>
                    <div class="mt-4"></div>
                    <a href="{{ path('app_mentionslegales') }}">Mentions légales</a><br>
                    <div class="mt-4"></div>
                    <a href="#">Politique de confidentialité</a><br>
                    <div class="mt-4"></div>
                    <a href="#">Utilisation de cookies</a><br>
                    <div class="mt-5"></div>
                </div>
            </div>

            <div class="col-md-2"></div> <!-- Colonne vide -->
        </div>
    </div>
{% endblock %}
