{# Étend le template de base appelé 'base.html.twig' #}
{% extends 'base.html.twig' %}

{# Définit le contenu de la balise <title> de la page #}
{% block title %}Messagerie{% endblock %}

{# Début du bloc principal du corps de la page #}
{% block body %}

    {% if is_granted('ROLE_USER') %}
        <div class="container">
            <div class="row">
                <div class="col-2"></div> {# Marge à gauche #}
                <div class="col-8">
                    {# Affiche un message de bienvenue avec le pseudo de l'utilisateur connecté #}
                    <p class="text-secondary mt-6">Bonjour {% if app.user %}
                        {{ app.user.pseudo }}
                        {% endif %}, bienvenue dans ta boîte d'envoi</p>
                </div>
                <div class="col-2"></div> {# Marge à droite #}
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-2"></div> {# Marge à gauche #}
                <div class="col-8 text-end">
                    {# Affiche un lien de retour vers la messagerie avec la route 'messagerie' #}
                    <a class="btn btn-secondary mr-2 text-light " href="{{ path('messagerie') }}">Retour à la messagerie</a>
                </div>
                <div class="col-2"></div> {# Marge à droite #}
            </div>
        </div>
        <br>
        <div class="mt-6"></div>

        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-2 col-1"></div> {# Marge à gauche #}
                <div class="col-md-8 col-10 border border-primary">
                    {# Affiche un formulaire d'envoi avec le formulaire 'form' #}
                    <h4>Formulaire d'envoi</h4>
                    {{ form_start(form) }}

                    {# Champ caché pour le destinataire par défaut, basé sur le paramètre userId de la requête #}
                    {{ form_row(form.destinataire, {'value': app.request.get('userId')}) }}

                    {{ form_widget(form) }}
                    {{ form_end(form) }}

                    <br> {# Saut de ligne ajouté ici #}
                </div>
                <div class="col-md-2 col-1"></div> {# Marge à droite #}
            </div>
        </div>

        <div class="mt-6"></div>

        <div class="container">
            <div class="row">
                <div class="col-2"></div> {# Marge à gauche #}
                <div class="col-8 text-end">
                    {# Affiche un contenu optionnel (manquant dans le code fourni) #}
                </div>
                <div class="col-2"></div> {# Marge à droite #}
            </div>
        </div>

        <div class="mt-6"></div>
    {% else %}
       <div class="text-center">
       <p class="text-secondary">Vous devez vous authentifier pour accéder à cette page.</p>
   </div>
    {% endif %}

    <br>

{# Fin du bloc principal du corps de la page #}
{% endblock %}
