{# Étend le template de base appelé 'base.html.twig' #}
{% extends 'base.html.twig' %}

{# Définit le contenu de la balise <title> de la page #}
{% block title %}Messagerie{% endblock %}

{# Début du bloc principal du corps de la page #}
{% block body %}
    {% if is_granted('ROLE_USER') %}
        <div class="row">
            <div class="mt-3"></div> {# Marge en haut #}
            <div class="col-1"></div> {# Colonne de marge #}
            <div class="col-11">
                <h1 class="text-secondary mt-6">Messagerie</h1> {# Titre de la page #}
            </div>
        </div>

        <div class="mt-6"></div> {# Marge en haut #}

        <div class="container text-center">
            <div class="row">
                <div class="col-4 border border-primary">
                    <h4>Message reçu</h4> {# Titre pour la section des messages reçus #}
                    <div class="mt-3"></div> {# Marge en haut #}
                    <div class="d-flex justify-content-between align-items-center">
                        <p>pseudo</p> {# Affiche un pseudo de l'utilisateur #}
                        <a href="{{ path('received') }}">
                            <img src="{{ asset('img/messageDebugTonCodemini.png') }}" alt="boîte de réception" class="d-block mx-auto img-fluid">
                        </a> {# Lien vers la page des messages reçus avec une icône #}
                        <a href="{{ path('received') }}">
                            <img src="{{ asset('img/supprimemessagemini.png') }}" alt="Supprimer le message" class="d-block mx-auto img-fluid">
                        </a> {# Lien pour supprimer le message avec une icône #}
                    </div>
                </div>
                <div class="col-8 border border-primary">col-8 {# Colonne pour le contenu des messages #}
                </div>
            </div>
        </div>
    {% else %}
      <div class="text-center">
       <p class="text-secondary">Vous devez vous authentifier pour accéder à cette page.</p>
   </div>
    {% endif %}
{# Fin du bloc principal du corps de la page #}
{% endblock %}
