{# Étend le template de base appelé 'base.html.twig' #}
{% extends 'base.html.twig' %}

{# Définit le contenu de la balise <title> de la page #}
{% block title %}Messagerie{% endblock %}

{# Début du bloc principal du corps de la page #}
{% block body %}
    {% if is_granted('ROLE_USER') %}
        <div class="container">
            <div class="row">
                <div class="col-9">
                    {# Affiche un message de bienvenue avec le pseudo de l'utilisateur connecté #}
                    <p class="text-secondary mt-6 {{ app.user ? 'h4' : 'h1' }} mb-3"> Bonjour {% if app.user %}
                        {{ app.user.pseudo }}
                    {% endif %}, bienvenue dans ta messagerie</p>
                </div>
            </div>
        </div>
        <div class="mt-3"></div> {# Marge en haut #}
        <div class="row">
            <div class="col-12 col-md-8">
                <!-- Messages reçus -->
                <div class="text-start text-md-end">
                    <a class="btn btn-primary mr-2 mb-2 mb-md-0 ml-2 text-light" href="{{ path('received') }}">Messages reçus
                        <span class="badge badge">{{ app.user.destinataire|length }}</span>
                    </a>
                    <a class="btn btn-secondary mr-2 ml-2 text-light" href="{{ path('send') }}">Messages envoyés
                        <span class="badge badge">{{ app.user.sent|length }}</span>
                    </a>
                </div>
            </div>
        </div>

        <div class="mt-6"></div> {# Marge en haut #}

        <div class="container">
            <div class="row">
                <div class="col-4">
                    <div class="mt-6"></div>
                    <p class="text-secondary mt-6">Message reçu</p>
                    {% if messages is empty %}
                        <p class="text-secondary mt-6">Aucun message reçu.</p> {# Affiche un message si aucune message n'est reçu #}
                    {% else %}
                        <ul>
                            {# Affiche la liste des messages reçus #}
                            {% for message in messages %}
                                {# Ajoute une classe 'fw-bold' au message non lu #}
                                {% set bold = message.isIsRead ? "" : "fw-bold" %}
                                <li class="d-flex flex-wrap align-items-center" style="margin-bottom: 10px;"> {# Ajoute une marge en bas de 10px #}
                                    <div class="col-12 col-md-3 {{ bold }} mb-2 mb-md-0">
                                        <a href="{{ path('read', {id: message.getId()}) }}">
                                            {# Affiche une icône différente pour les messages lus et non lus #}
                                            <img src="{{ message.isIsRead ? asset('img/messageDebugTonCodemini.png') : asset('img/messageDebugTonCodenonlu.png') }}" alt="Voir message" class="d-block mx-auto img-fluid">
                                        </a>
                                    </div>
                                    <div class="col-12 col-md-9">
                                        <span style="list-style-type: none;">{{ message.sender.pseudo }}</span>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
                <div class="col-8">
                    <div class="mt-6"></div>
                    <p class="text-secondary mt-6">Écrire un message</p>
                    {{ form_start(form) }}
                    <div class="row">
                        <div class="col">
                            <p><strong>De:</strong> {{ app.user.pseudo }}</p>
                        </div>
                        <div class="col">
                            {# Champ pour le destinataire avec une classe de style #}
                            {{ form_row(form.destinataire, {'label': 'À', 'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                    {# Rendu des champs du formulaire #}
                    {{ form_row(form.sujet, {'attr': {'class': 'form-control'}}) }}
                    {{ form_row(form.message, {'attr': {'class': 'form-control'}}) }}
                    {{ form_row(form.envoyer, {'attr': {'class': 'btn btn-primary'}}) }}
                    {{ form_end(form) }}
                    <div class="mt-6"></div> {# Marge en haut #}
                </div>
            </div>
        </div>
        <br>
        <div class="mt-6"></div> {# Marge en haut #}
    {% else %}
      <div class="text-center">
       <p class="text-secondary">Vous devez vous authentifier pour accéder à cette page.</p>
   </div>
    {% endif %}
{# Fin du bloc principal du corps de la page #}
{% endblock %}
