{# Étend le template de base appelé 'base.html.twig' #}
{% extends 'base.html.twig' %}

{# Définit le contenu de la balise <title> de la page #}
{% block title %}Messagerie{% endblock %}

{# Début du bloc principal du corps de la page #}
{% block body %}
    {% if is_granted('ROLE_USER') %}
        <div class="container">
            <div class="row mt-3">
                <div class="col-1"></div> {# Colonne de marge #}
                <div class="col-11">
                    {# Affiche le pseudo de l'expéditeur et la date du message formatée #}
                    <p class="text-secondary mt-6">Message reçu de : {{ message.sender.pseudo }} le {{ message.createdAt|date('j F Y H:i', 'Europe/Paris', 'fr') }}</p>
                </div>
            </div>

            <div class="row mt-6">
                <div class="col-11">
                    {# Affiche le sujet du message #}
                    <p class="lead text-secondary text-center">Sujet : {{ message.sujet }}</p>
                </div>
            </div>

            <div class="row mt-6">
                <div class="col-12">
                    {# Affiche le contenu du message #}
                    <p class="lead text-secondary text-center">Message : {{ message.message }}</p>
                </div>
            </div>

            <div class="row mt-6">
                <div class="col-12 text-center">
                    {# Lien pour répondre au message avec une icône de bouton #}
                    <a class="btn btn-primary mr-2 mb-2" href="{{ path('formulaire', { 'id': message.sender.id }) }}">Répondre</a>
                    {# Lien pour retourner à la liste des messages avec une icône de bouton #}
                    <a class="btn btn-secondary mr-2 mb-2" href="{{ path('app_message') }}">Retour</a>
                    <br> {# Saut de ligne #}
                </div>
            </div>
        </div>
    {% else %}
      <div class="text-center">
       <p class="text-secondary">Vous devez vous authentifier pour accéder à cette page.</p>
   </div>
    {% endif %}
{# Fin du bloc principal du corps de la page #}
{% endblock %}





