{# Étend le template de base appelé 'base.html.twig' #}
{% extends 'base.html.twig' %}

{# Définit le contenu de la balise <title> de la page #}
{% block title %}Messagerie{% endblock %}

{# Début du bloc principal du corps de la page #}
{% block body %}
    {% if is_granted('ROLE_USER') %}
        <div class="container">
            <div class="row">
                <div class="col-9">
                    <h1 class="text-secondary mt-6">Messages reçus</h1> {# Titre de la page #}
                </div>
            </div>
        </div>

        <div class="mt-3"></div> {# Marge en haut #}

        <div class="container">
            <div class="row">
                <div class="col-8 text-end">
                    <a class="btn btn-secondary text-light" onclick="goBack()">Retour</a> {# Lien de retour avec une icône de bouton #}
                    <div class="mt-6"></div> {# Marge en haut #}
                </div>
            </div>
        </div>

        <div class="mt-6"></div> {# Marge en haut #}

        <section class="container">
            <div class="row">
                <div class="col-3">De</div>
                <div class="col-3">Sujet</div>

                <div class="col-2">Date</div>
                <div class="col-1">Action</div>
            </div>

            <div class="mt-3"></div> {# Marge en haut #}

            {% for message in app.user.destinataire|sort((a, b) => b.createdAt <=> a.createdAt) %}
                {% if message.isRead == 0 %}
                    {% set bold = "fw-bold" %}
                {% else %} 
                    {% set bold = "" %}
                {% endif %} 

                <div class="row">
                    <div class="col-3 {{ bold }}">{{ message.sender.pseudo }}</div>
                    <div class="col-3 {{ bold }}">
                        <a href="{{ path('read', { 'id': message.id }) }}">
                            {{ message.sujet[:10] }}{# Affiche les 10 premiers caractères du sujet #}
                        </a>
                    </div>

                    <div class="col-2 {{ bold }}">{{ message.createdAt|date('d F Y H:i', 'Europe/Paris') }}</div>

                    <div class="col-1">
                        <a href="{{ path('delete', { 'id': message.id }) }}">
                            <img src="{{ asset('img/supprimemessagemini.png') }}" alt="Supprimer">
                        </a>
                    </div>
                </div>

                <div class="mt-3"></div> {# Marge en haut #}
            {% endfor %}
        </section>

        <div class="mt-6"></div> {# Marge en haut #}

        <script>
            function goBack() {
                window.history.back(); {# Fonction pour revenir en arrière dans l'historique du navigateur #}
            }
        </script>
    {% else %}
       <div class="text-center">
       <p class="text-secondary">Vous devez vous authentifier pour accéder à cette page.</p>
   </div>
    {% endif %}
{# Fin du bloc principal du corps de la page #}
{% endblock %}
