{# Étend le template de base appelé 'base.html.twig' #}
{% extends 'base.html.twig' %}

{# Définit le contenu de la balise <title> de la page #}
{% block title %}Répondre au message{% endblock %}

{# Début du bloc principal du corps de la page #}
{% block body %}
    {% if is_granted('ROLE_USER') %}
        <h1>Répondre au message</h1> {# Titre de la page #}

        <p>Destinataire : {{ message.sender.username }}</p> {# Affiche le nom d'utilisateur du destinataire #}

        <div class="container">
            <div class="row">
                <div class="col-md-8 col-12 border border-primary">
                    <h4>Répondre au message</h4> {# Titre de la section #}
                    {{ form_start(repondreForm) }} {# Début du formulaire #}
                    {{ form_widget(repondreForm) }} {# Affiche les champs du formulaire #}
                   
                    {{ form_end(repondreForm) }} {# Fin du formulaire #}
                </div>
            </div>
        </div>
    {% else %}
       <div class="text-center">
       <p class="text-secondary">Vous devez vous authentifier pour accéder à cette page.</p>
   </div>
    {% endif %}
{# Fin du bloc principal du corps de la page #}
{% endblock %}



