{# Étend le template de base appelé 'base.html.twig' #}
{% extends 'base.html.twig' %}

{# Définit le contenu de la balise <title> de la page #}
{% block title %}Messagerie{% endblock %}

{# Début du bloc principal du corps de la page #}
{% block body %}
    {% if is_granted('ROLE_USER') %}
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-12 border border-primary">
                    <h4>Formulaire d'envoi</h4> {# Titre de la section #}
                    {{ form_start(form) }} {# Début du formulaire #}
                    {{ form_widget(form) }} {# Affiche les champs du formulaire #}
                    {{ form_end(form) }} {# Fin du formulaire #}
                </div>
            </div>
        </div>
    {% else %}
      <div class="text-center">
       <p class="text-secondary">Vous devez vous authentifier pour accéder à cette page.</p>
   </div>
    {% endif %}
{# Fin du bloc principal du corps de la page #}
{% endblock %}

