{# Étend le template de base appelé 'base.html.twig' #}
{% extends 'base.html.twig' %}

{# Définit le contenu de la balise <title> de la page #}
{% block title %}Messagerie{% endblock %}

{# Début du bloc principal du corps de la page #}
{% block body %}
    {% if is_granted('ROLE_USER') %}
        <div class="container">
            <div class="row">
                <div class="col-9">
                    <h1 class="text-secondary mt-6">Messages envoyés</h1> {# Titre de la page #}
                </div>
            </div>
        </div>

        <div class="mt-3"></div>

        <div class="container">
            <div class="row">
                <div class="col-8 text-end">
                    <a class="btn btn-secondary text-light" onclick="goBack()">Retour</a> {# Bouton de retour #}
                    <div class="mt-3"></div>
                </div>
            </div>
        </div>

        <div class="mt-6"></div>

        <section class="container">
            <div class="row">
                <div class="col-3">A</div> {# Colonnes du tableau #}
                <div class="col-3">Sujet</div>
               
                <div class="col-2">Date</div>
                <div class="col-1">Action</div>
            </div>

            <div class="mt-3"></div>

            {% for message in app.user.sent|sort((a, b) => b.createdAt <=> a.createdAt) %}
                {% if message.isRead == 0 %}
                    {% set bold = "fw-bold" %} {# Si le message n'est pas lu, appliquer la classe CSS "fw-bold" pour mettre en gras #}
                {% else %} 
                    {% set bold = "" %} {# Sinon, ne pas appliquer de style gras #}
                {% endif %} 

                <div class="row">
                    <div class="col-3 {{ bold }}">{{ message.destinataire.pseudo }}</div> {# Nom du destinataire du message #}
                    <div class="col-3 {{ bold }}">
                        <a href="{{ path('read', { 'id': message.id }) }}">{{ message.sujet [:10]}}</a> {# Lien vers la lecture du message #}
                    </div>
                   
                    <div class="col-2 {{ bold }}">{{ message.createdAt|date('d F Y H:i', 'Europe/Paris') }}</div> {# Date du message formatée #}

                    <div class="col-1">
                        <a href="{{ path('delete', { 'id': message.id }) }}">
                            <img src="{{ asset('img/supprimemessagemini.png') }}" alt="Supprimer"> {# Lien pour supprimer le message #}
                        </a>
                    </div>
                </div>

                <div class="mt-3"></div>
            {% endfor %}
        </section>

        <div class="mt-6"></div>

        <script>
            function goBack() {
                window.history.back();
            }
        </script>
    {% else %}
     <div class="text-center">
       <p class="text-secondary">Vous devez vous authentifier pour accéder à cette page.</p>
   </div>
    {% endif %}
{# Fin du bloc principal du corps de la page #}
{% endblock %}
