<footer class="footer bg-secondary ">
     <div class="row">
      <div class="col-sm-1"></div>
  <div class="col-sm-3">
    <div class="card bg-secondary text-light text-center border-secondary">
      <div class="card-body ">


       <a class="navbar-brand " href="{{ path('app_presentation')}}">
             <p class="card-text mt-3"> DebugTonCode</p>
           </a>
               <a class="navbar-brand " href="{{ path('app_immat')}}">
                            <p class="card-text mt-3"> Numéro d’immatriculation</p>
        </a>
                <a class="navbar-brand " href="{{ path('app_quisommesnous') }}">
                            <p class="card-text mt-3"> Qui sommes nous</p>
                    </a>
      
     
      </div>
    </div>
  </div>
    <div class="col-sm-1"></div>
      <div class="col-sm-2">
    <div class="card bg-secondary text-light text-center border-secondary">
      <div class="card-body ">
       <a class="navbar-brand " href="{{ path('app_contact') }}">
             <p class="card-text mt-3"> Contact</p>
           </a>
                <a class="navbar-brand " href="{{ path('app_plandusite') }}">
                            <p class="card-text mt-3"> Plan du site</p>
        </a>
                 <p class="card-text mt-3">{{ "now"|date("Y") }}</p>
      </div>
    </div>
  </div>

   <div class="col-sm-1"></div>
  <div class="col-sm-3">
    <div class="card bg-secondary text-light text-center border-secondary">
      <div class="card-body ">
       <a class="navbar-brand " href="{{ path('app_mentionslegales') }}">
             <p class="card-text mt-3"> Mentions légales</p>
           </a>
                <a class="navbar-brand " href="{{ path('app_politique') }}">
                            <p class="card-text mt-3"> Politique de confidentialité</p>
        </a>
            <!-- Lien pour ouvrir la modal -->
<a class="navbar-brand" href="{{ path('app_politique') }}" data-toggle="modal" data-target="#cookies">
    <p class="card-text mt-3">Utilisation des cookies</p>
</a>

<!-- Modal -->
<div class="modal fade" id="cookies" tabindex="-1" role="dialog" aria-labelledby="cookies">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-secondary" id="cookies">Utilisation des cookies</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-secondary">
                <!-- Contenu de la modal -->
                <p>Ce site n'utilise pas de cookies pour améliorer l'expérience utilisateur. En poursuivant votre navigation, vous acceptez notre utilisation des cookies.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>


<!-- Assure-toi d'inclure les scripts JavaScript nécessaires pour Bootstrap -->
<!-- Assurez-vous d'inclure les scripts JavaScript nécessaires pour Bootstrap -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
