<nav class="navbar navbar-expand-lg bg-white">
  <div class="container-fluid">

    <div class="col-lg-3 col-5">
      <a class="navbar-brand" href="{{ path('app_accueil') }}">
        <img src="{{ asset('img/LogoDebeugTonCodenavbar.png') }}" alt="LogoDebeugTonCode" class="d-block mx-auto">
      </a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>

    {% if app.user %}
    <div class="col-lg-3 col-12">
      <form class="d-flex" role="search" action="{{ path('rechercher_utilisateurs') }}" method="GET">
        <input class="form-control me-2 rounded-pill" type="search" name="pseudo" placeholder="Rechercher" aria-label="Search">
        <button class="btn btn-outline-primary" type="submit">
          <img src="{{ asset('img/nav_Rechercher.png') }}" alt="Rechercher" class="d-block mx-auto">
        </button>
      </form>
    </div>

    <div class="col-lg-1 col-2">
      <a class="navbar-brand" href="{{ path('app_git') }}">
        <img src="{{ asset('img/GitDebugTonCodeCourt.png') }}" alt="GIT" class="d-block mx-auto">
      </a>
    </div>

    <div class="col-lg-1 col-2">
      <a class="navbar-brand" href="{{ path('app_message') }}">
        {% set unreadMessages = app.user.destinataire | filter(m => not m.isRead) %}
        {% if unreadMessages | length == 0 %}
          <!-- Afficher l'icône des messages lus -->
          <img src="{{ asset('img/nav_Message_DebugTonCode.png') }}" alt="Messagerie" class="d-block mx-auto">
        {% else %}
          <!-- Afficher l'icône des messages non lus -->
          <img src="{{ asset('img/nav_Message_DebugTonCodenonlu.png') }}" alt="Messagerie" class="d-block mx-auto">
        {% endif %}
      </a>
    </div>

    <div class="col-lg-1 col-2">
      {% if is_granted('ROLE_ADMIN') %}
        <a class="navbar-brand" href="{{ path('app_admin_admin_user_menu') }}">
          <img src="{{ asset('img/nav_Parametre_DebugTonCod.png') }}" alt="Paramètre" class="d-block mx-auto">
        </a>
      {% else %}
        <a class="navbar-brand" href="{{ path('app_admin_user_menu') }}">
          <img src="{{ asset('img/nav_Parametre_DebugTonCod.png') }}" alt="Paramètre" class="d-block mx-auto">
        </a>
      {% endif %}
    </div>

    <div class="col-lg-1 col-2">
      <a class="navbar-brand" href="{{ path('app_logout') }}">
        <img src="{{ asset('img/nav_Logout_bleuCourt.png') }}" alt="Déconnexion" class="d-block mx-auto">
      </a>
    </div>

    {% else %}
    <div class="col-2">
      <a class="navbar-brand" href="{{ path('app_login') }}">
        <img src="{{ asset('img/nav_Login_DebugtonCode.png') }}" alt="" class="d-block mx-auto">
      </a>
    </div>
    {% endif %}

  </div>
</nav>
