{% extends 'base.html.twig' %}

{% block title %}Politique de confidentialité{% endblock %}

{% block body %}
<div class="container">
  <div class="row">

    <div class="col-1"></div>



                <div class="col-10">
                            <h1 class="text-center text-secondary mt-6">Politique de confidentialité :</h1>
                            
<div class="mt-5"></div>
                            <h2 class="text-center text-secondary mt-6">1 Présentation du site</h2>
                            <div class="mt-5"></div>
    
<P>
En vertu de l’article 6 de la loi n° 2004-575 du 21 juin 2004 pour la confiance dans l’économie numérique, il est précisé aux utilisateurs du site WWW.DEBUGTONCODE.fr l’identité des différents intervenants dans le cadre de sa réalisation et de son suivi :

Propriétaire : DEBUGTONCODE – 344 545 675 665 
 – 25 route de Grenoble 38100 Grenoble
Créateur : Alex
Responsable publication : DEBUGTONCODE – contact@debugtoncode.fr
Le responsable publication est une personne physique ou une personne morale.
Webmaster : alex – contact@debugtoncode.fr
Hébergeur : Localhost
</p>

<div class="mt-5"></div>
                            <h2 class="text-center text-secondary mt-6">2. Collecte de l’information</h2>
                            <div class="mt-5"></div>

</p>
Nous recueillons des informations lorsque vous vous inscrivez sur nos formulaires de contact, de partenariat, de financement et de recrutement. Les informations recueillies incluent votre nom, votre société, votre adresse e-mail, numéro de téléphone.
En outre, nous recevons et enregistrons automatiquement des informations à partir de votre ordinateur et navigateur, y compris votre adresse IP, vos logiciels et votre matériel, et la page que vous demandez.
Nous conservons vos données dans la limite de trois ans. Si vous faites une demande pour retirer ou modifier vos données alors les anciennes seront supprimées.
</p>

<div class="mt-5"></div>
                            <h2 class="text-center text-secondary mt-6">3. Utilisation des informations</h2>
                            <div class="mt-5"></div>

</p>
Toutes les informations que nous recueillons auprès de vous peuvent être utilisées pour :
    • Personnaliser votre expérience et répondre à vos besoins individuels
    • Améliorer notre site Web
    • Améliorer le service client et vos besoins de prise en charge
    • Vous contacter par e-mail
    • Administrer une enquête
    </p >

    <div class="mt-5"></div>
                            <h2 class="text-center text-secondary mt-6">4. Confidentialité du commerce en ligne</h2>
                            <div class="mt-5"></div>


</p>
Nous sommes les seuls propriétaires des informations recueillies sur ce site. Vos informations personnelles ne seront pas vendues, échangées, transférées, ou données à une autre société pour n’importe quelle raison, sans votre consentement, en dehors de ce qui est nécessaire pour répondre à une demande.
</p>

   <div class="mt-5"></div>
                            <h2 class="text-center text-secondary mt-6">5. Divulgation à des tiers</h2>
                            <div class="mt-5"></div>

</p>
Nous ne vendons, n’échangeons et ne transférons pas vos informations personnelles identifiables à des tiers. Cela ne comprend pas les tierce parties de confiance qui nous aident à exploiter notre site Web ou à mener nos affaires, tant que ces parties conviennent de garder ces informations confidentielles.
Nous pensons qu’il est nécessaire de partager des informations afin d’enquêter, de prévenir ou de prendre des mesures concernant des activités illégales, fraudes présumées, situations impliquant des menaces potentielles à la sécurité physique de toute personne, violations de nos conditions d’utilisation, ou quand la loi nous y contraint.
Les informations non-privées, cependant, peuvent être fournies à d’autres parties pour le marketing, la publicité, ou d’autres utilisations.
</p>

   <div class="mt-5"></div>
                            <h2 class="text-center text-secondary mt-6">6. Protection des informations</h2>
                            <div class="mt-5"></div>


<p>
Nous mettons en œuvre une variété de mesures de sécurité pour préserver la sécurité de vos informations personnelles. Nous utilisons un cryptage à la pointe de la technologie pour protéger les informations sensibles transmises en ligne. Nous protégeons également vos informations hors ligne. Seuls les employés qui ont besoin d’effectuer un travail spécifique (par exemple, la facturation ou le service à la clientèle) ont accès aux informations personnelles identifiables. Les ordinateurs et serveurs utilisés pour stocker des informations personnelles identifiables sont conservés dans un environnement sécurisé.
Est-ce que nous utilisons des cookies ?
Oui. Nos cookies améliorent l’accès à notre site et identifient les visiteurs réguliers. En outre, nos cookies améliorent l’expérience d’utilisateur grâce au suivi et au ciblage de ses intérêts. Cependant, cette utilisation des cookies n’est en aucune façon liée à des informations personnelles identifiables sur notre site.
</p>

<p>
Nous utilisons l’adresse e-mail que vous fournissez pour vous envoyer des informations et mises à jour relatives à votre commande, des nouvelles de l’entreprise de façon occasionnelle, des informations sur des produits liés, etc. Si à n’importe quel moment vous souhaitez vous désinscrire et ne plus recevoir d’e-mails, des instructions de désabonnement détaillées sont incluses en bas de chaque e-mail. De plus, vous pouvez faire votre demande de désabonnement ou de modification des données à caractère personnel à : contact@debugtoncode.fr.
</p>


   <div class="mt-5"></div>
                            <h2 class="text-center text-secondary mt-6">8. Consentement</h2>
                            <div class="mt-5"></div>
<p>
En utilisant notre site, vous consentez à notre politique de confidentialité.
</p>



                                    <div class="mt-5"></div>
                                    <div class="mt-6"></div>




    </div>

    <div class="col-1"></div>
  </div>
</div>
{% endblock %}
