{% if is_granted('ROLE_ADMIN') %}
    <form method="post" action="{{ path('app_admin_admin_user_delete', {'id': user.id}) }}" onsubmit="return confirm('Etes-vous sûr de vouloir supprimer l\'adhérent?');">
        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
        <button class="btn">supprimer le compte</button>
    </form>
{% endif %}
