{% if is_granted('ROLE_ADMIN') %}
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-light btn-lg text-secondary" type="submit">Envoyer</button>
        <button class="btn" type="submit">{{ button_label|default('Save') }}</button>
    {{ form_end(form) }}
{% endif %}
