{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
    {% if is_granted('ROLE_ADMIN') %}
        <div class="row">
            <div class="col-lg-1 col-md-1 col-1"></div>
            <div class="col-lg-10 col-md-10 col-10">
                <h1 class="text-secondary mt-6">Modifier un Adhérent :</h1>
                <div class="mt-6"></div>
                <div class="row">
                    <div class="col-md-8 text-end">
                        <a class="btn btn-secondary mb-3" href="{{ path('app_admin_admin_user_index') }}">Retour à la liste</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        {# Applique le thème de formulaire Bootstrap 5 au formulaire 'form' #}
                        {% form_theme form 'bootstrap_5_layout.html.twig' %}
                        <form class="form" method="post">
                            {{ form_start(form) }}
                            {{ form_widget(form) }}
                            <button type="submit" class="btn btn-primary">Modifier</button>
                            {{ form_end(form) }}
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-2"></div> {# Colonne vide à droite #}
        </div>

        {{ include('admin_admin_user/_delete_form.html.twig') }}
    {% else %}
        <p>Vous n'avez pas les permissions nécessaires pour accéder à cette page.</p>
    {% endif %}
{% endblock %}
