{% extends 'base.html.twig' %}

{% block title %}Administration Utilisateurs{% endblock %}

{% block body %}
    {% if is_granted('ROLE_ADMIN') %}
        <div class="row">
            <div class="mt-3 col-1"></div>
            <div class="col-11">
                <h1 class="text-secondary mt-6">Table des utilisateurs:</h1>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-8 text-end">
                    <a class="btn btn-secondary text-light ml-2" onclick="goBack()">Retour</a>
                </div>
            </div>
        </div>

        <div class="mt-5"></div>

        <div class="table-responsive ml-2">
            <table class="table">
                <thead>
                    <tr>
                        <th class="d-none d-md-table-cell"></th>
                        <th>Id</th>
                        <th class="d-none d-md-table-cell">Email</th>
                        <th class="d-none d-md-table-cell">Roles</th>
                        <th class="d-none d-md-table-cell">Pseudo</th>
                        <th class="d-none d-md-table-cell">Vérification</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                        <tr>
                            <td class="d-none d-md-table-cell"></td>
                            <td>{{ user.id }}</td>
                            <td class="d-none d-md-table-cell">{{ user.email }}</td>
                            <td class="d-none d-md-table-cell">{{ user.roles ? (user.roles|json_encode == '["ROLE_USER"]' ? "utilisateur" : "administrateur") : '' }}</td>
                            <td class="d-none d-md-table-cell">{{ user.pseudo }}</td>
                            <td class="d-none d-md-table-cell">{{ user.isVerified ? 'Oui' : 'Non' }}</td>
                            <td>
                                <a href="{{ path('app_admin_admin_user_show', {'id': user.id}) }}">Voir</a>
                                <a href="{{ path('app_admin_admin_user_edit', {'id': user.id}) }}">Modifier</a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td class="d-none d-md-table-cell" colspan="7">Aucun enregistrement trouvé</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="mt-6"></div>

        <script>
            function goBack() {
                window.history.back();
            }

            function redirectToEditPage() {
                window.location.href = "/template/admin_user/edit.html.twig";
            }

            document.getElementById("admin_user_edith").addEventListener("click", redirectToEditPage);
        </script>
    {% else %}
        <p>Vous n'avez pas les permissions nécessaires pour accéder à cette page.</p>
    {% endif %}
{% endblock %}
