{% extends 'base.html.twig' %}

{% block title %}Espace Administrateur{% endblock %}

{% block body %}
    {% if is_granted('ROLE_ADMIN') %}
        <h1 class="text-center text-secondary mt-6">Espace Admin</h1>

        <div class="mt-5">
            <p class="lead text-secondary text-center mt-6">
                Bonjour {% if app.user %}
                {{ app.user.pseudo }}
                {% endif %} <br>
                Ici, tu es l'élu(e), tu as tous les pouvoirs, utilises les à bon escient !
            </p>
        </div>

        <div class="d-flex align-items-center text-light justify-content-center mt-6">
            <a href="{{ path('app_admin_user_menu') }}" class="btn btn-primary text-light btn-lg">Modifier ton profil</a>
        </div>

        <div class="mt-6"></div>

        <div class="row justify-content-center mt-4">
            <div class="col-sm-3 mb-4">
                <div class="card bg-primary">
                    <div class="card-body ml-1 mr-1 text-center">
                        <div class="mt-3"></div>
                        <h5 class="card-title text-light">Accéder<br>aux comptes</h5>
                        <div class="mt-3"></div>
                        <img src="{{ asset('img/userblancCourt.png') }}"  alt="DebugTonCode modifier son profil">
                        <div class="mt-4"></div>
                        <div class="text-secondary">
                            <a href="{{ path('app_admin_admin_user_index') }}" class="btn btn-light rounded-pill">Accéder</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 mb-4">
                <div class="card bg-primary">
                    <div class="card-body ml-1 mr-1 text-center">
                        <div class="mt-3"></div>
                        <h5 class="card-title text-light">Accéder<br>aux GITS</h5>
                        <div class="mt-3"></div>
                        <img src="{{ asset('img/GitCourt.png') }}" alt="Dépot GIT Debugtoncode" class="d-block mx-auto ">
                        <div class="mt-4"></div>
                        <div class="text-secondary">
                            <a href="{{ path('app_admin_admin_git_index') }}" class="btn btn-light rounded-pill">Accéder</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 mb-4">
                <div class="card bg-primary">
                    <div class="card-body ml-1 mr-1 text-center">
                        <div class="mt-3"></div>
                        <h5 class="card-title text-light">Accéder<br>à la messagerie</h5>
                        <div class="mt-3"></div>
                        <img src="{{ asset('img/messengerblancCourt.png') }}"  alt="DebugTonCode accèder à la messagerie">
                        <div class="mt-4"></div>
                        <div class="text-secondary">
                            <a href="{{ path('app_admin_admin_messagerie_index') }}" class="btn btn-light rounded-pill">Accéder</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="mt-6"></div>
    {% else %}
        <p>Vous n'avez pas les permissions nécessaires pour accéder à cette page.</p>
    {% endif %}
{% endblock %}
