{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
    {% if is_granted('ROLE_ADMIN') %}
        <div class="container">
             <div class="row">
        <div class="col-lg-1 col-md-1 col-1"></div>
        <div class="col-lg-10 col-md-10 col-10">
            <h1 class="text-secondary mt-6">Modifier un Adhérent</h1>
                    <div class="container">
                        <div class="row">
                            <div class="col-8 text-end">
                                <a href="{{ path('app_admin_admin_user_index') }}" class="btn btn-secondary mb-3">Retour à la liste</a>
                            </div>
                        </div>
                    </div>

                    <div class="container ml-3">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <th>Id</th>
                                    <td>{{ user.id }}</td>
                                </tr>
                                <tr>
                                    <th>Email</th>
                                    <td>{{ user.email }}</td>
                                </tr>
                                <tr>
                                    <th>Roles</th>
                                    <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                                </tr>
                                <tr>
                                    <th>Pseudo</th>
                                    <td>{{ user.pseudo }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <a href="{{ path('app_admin_admin_user_edit', {'id': user.id}) }}" class="btn btn-primary">Modifier</a>

                    {{ include('admin_admin_user/_delete_form.html.twig') }}
                </div>
                <div class="col-lg-1 col-md-1 col-1"></div>
            </div>
        </div>
    {% else %}
        <p>Vous n'avez pas les permissions nécessaires pour accéder à cette page.</p>
    {% endif %}
{% endblock %}
