{% extends 'base.html.twig' %}

{% block title %}Presentation{% endblock %}


{% block body %}

<div class="mt-6">
    <img src="img/debugTonCodeHeureux.jpg" class="img-fluid" alt="debugTonCodeEquipe">
</div>


<div class="mt-6"></div>
<br>
  <h1 class="text-center text-secondary mt-6">DebugTonCode</h1>
<div class="mt-5">





<div class="mt-6">
    <h1 class="text-center text-secondary mt-5">Numéro d’immatriculation</h1>
    <div class="mt-5">
    <p class="lead text-secondary text-center">344 545 675 665 </p>



<div class="mt-6">



{% endblock %}
